{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.9.2"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "syntax-dynamic-import",
    "external-helpers"
  ]
}
